body{
    margin: 0.5%
}

.menu{
    font-family:'Source Sans Pro', sans-serif;
    color: white;
}

.first{
    background: url(../images/fondoprincipal.gif) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.cognits{
    font-size: 240%;
    margin-left: 1%
}

.oculto{
    display: none;
}

.title1{
    font-size: 280%;
}

.title{
    text-align: center;
    border-radius: 5px;
}

.pnew{
    font-size: 150%;
    margin: 1%;
}

.entering{
    text-align: center;
    border-radius: 5px;
    margin-top: 3%;
    margin-bottom: 5%;
}

.sizein{
    height: 25px;
    width: 15%;
    -webkit-box-shadow: 0 0 3px #a7a7a7;
    -moz-box-shadow: 0 0 3px #a7a7a7;
    box-shadow: 0 0 3px #a7a7a7;
    color: black;
}

.type_tem{
    display: inline-block;
    margin: 1%;
    font-size: 250%;
}
.cusors{
    cursor: pointer;
}
.cursor{
    cursor:pointer;
}

.clima{
    font-family:'Source Sans Pro', sans-serif;
    color: white;
    display:none;
}

.location{
    margin-bottom: 5%;
    margin-left: 5%;
}

.fontsizesq{
    font-size: 2.5rem;
}

.country{
    font-size: 500%;
    margin-bottom: 3%;
    margin-top: 0.1%;
}

.TempBig{
    border-radius: 5px;
    display: inline-block;
    margin-top: 5%;
    margin-left: 10%;
}

.tempC{
    font-size: 600%;
    margin: 1%;
    margin-bottom:2%;
}

.senst{
    font-size: 30px;
}

.weather{
    margin: 1%;
}

.dewpoint{
    margin: 1%;
}

.frames{
    margin-top: 5%;
}

.TempF{
    margin-top: 5%;
    margin: 2%;
    height: 180px;
    width: 150px;
    text-align: center;
    border-radius: 5px;
    display: inline-block;
}

.visibility_km{
    margin: 2%;
    height: 180px;
    width: 150px;
    text-align: center;
    border-radius: 5px;
    display: inline-block;
}

.relative_humidity{
    margin: 2%;
    height: 180px;
    width: 150px;
    text-align: center;
    border-radius: 5px;
    display: inline-block;
}

.wind_string{
    margin: 2%;
    height: 180px;
    width: 150px;
    text-align: center;
    border-radius: 5px;
    display: inline-block;
}

.down{
    font-size: 150%;
}
.update{
    margin-right: 5px;
    display: inline-block;
}

.newSearch{
    margin-left: 5%;
    float: right;
}