body {
    background-image: url(../images/cielo3.png);
}

h1 {
    color: black;
    font-family: 'Righteous', cursive;
    text-shadow: 1px 2px 2px #FFFFFF;
}

h3 {
    color: black;
    font-family: 'Righteous', cursive;
    margin-bottom: 2%;
}

p {
    color: black;
    font-size: 125%;
    font-family: 'Questrial', sans-serif;
}

button {
    margin-top: 3%;
}

img {
    width: 50%;
}

.temperature {
    margin-top: 3%;
    margin-bottom: 1%;
}

.contenedor {
    padding-top: 3%;
}

.up {
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

.center_column {
    text-align: center;
    background-color: #274789;
    background-color: rgba(39,71,137,0.8);
    margin: auto;
    width: 85%;
    border-radius: 10px;
    margin-bottom: 2.5%;
}

.container_forms {
    padding-top: 1%;
    padding-bottom: 2%;
    background-color: white;
    background-color: rgba(255,255,255,0.8);
}

.check_containter {
    font-family: 'Questrial', sans-serif;
    font-size: 120%;
    margin: auto;
    width: 200px;
}

.view_weather {
    margin-top: 5%;
}

.icon {
    text-align: center;
}

.error {
    margin-top: 10%;
}
